*{
    padding: 0%;
    margin: 0%;
    
}

#logo{
height: 4rem;
margin: 1rem 1rem 0rem 1rem;
}
.logo-heading{
    display: inline-block;
    position: absolute;
    margin-left: 20px;
    top: 2rem;
    text-align: center;
    color: black;
}
#navbar{
    background-color: #89399b;
    
}
.nav-div{
    position: absolute;
    left: 80rem;
    top:1rem;
    text-align: center;
    
}
.nav-li{
   
   display: inline-block;
   text-align: center;
   margin: 1rem;
   margin-left: 1rem;
   font-size: 22px;
  
}
.sec-div{
    display: inline-block;
    height: 45rem;
    width:50%;
    background-color: #89399b;
}
.third-div{
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 45rem;
    background-color: #89399b;
}
/* .form{
    display: flex;
    justify-content: center;
    height: 45rem;
    width: 40rem;
    background-color: bisque;
    border-radius: 2rem;
    margin-top: 5rem;
    margin-left: 10rem;
}
input{
    display: inline-block;
}
.form h1{
    display: block;
    text-align: center;
}
.form{
    margin-top: 5rem;
}
.form-input{
    
    display: block;
    margin: 2rem;

    width: 22rem;
    height: 2rem;
    border-radius: 2rem;
    border-style: none;
    text-align: center;
} */
.sec-div h1{
    text-align: center;
    margin-top: 8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sec-div p{
    
    margin-top: 2rem;
    width: 23rem;
    /* text-align: center; */
    margin-left: 15rem;
}
.sec-div button{
    display: block;
    /* margin: 1rem; */
    padding: 1rem;
    margin-left: 15rem;
    margin-top: 3rem;
    border-radius: 1rem;
    border-style: none;
    background-color:bisque;
    
}

.third-div-img{
    height: 52rem;
    margin-top: -5rem;
    margin-left: 4rem;

   
}
.aboutUs{
    width: 100%;
    height: 50rem;
}
#footer{
    height: 5rem;
    background-color: #89399b;
}
.fourth-div{
    display: inline-block;
    height: 50rem;
    width: 50%;
    background-color: white;
}
.fifth-div{
    display: inline-block;
    height: 50rem;
    width: 50%;
    background-color: white;
    position: absolute;
}
.fourth-div-img{
    height: 40rem;
    width: 43rem;
    margin-left: 3rem;
    margin-top: 5rem;
}
/* .fifth-div h1{
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.fifth-div p{
    width: 48rem;
    margin-left: 6rem;
    line-height: 25px;
    
} */
#footer h3{
    position: absolute;
    margin-top: 2rem;
    margin-left: 38rem;
}
/* fifth-div */
.fifth-div .card{
    background-color: #89399b;
    width: 53rem;
    height: 32rem;
    margin-top: 9rem;
    border-radius: 2rem;
}
.first-card-component{
    display: inline-block;
    width: 20rem;
    height: 11rem;
    background-color: #a76cb1;
    margin: 4rem 1rem 0rem 4rem ;
    border-radius: 1rem;

}
.first-card-component img{
    height: 47px;
    display: inline-block;
    margin: 2rem 0rem 0rem 2rem;
    background-color:#d59ae2;
    border-radius: 100%;
    padding: 11px;
}
.first-card-component-innerdiv{
    display: inline-block;
    position: absolute;
   width: 9rem;
   height: 7rem;
   text-align: center;
   
    margin: 2rem 1rem 1rem 2rem;
    /* background-color: aqua; */
}
.second-card-component{

    display: inline-block;

    width: 20rem;
    height: 11rem;
    background-color: #a76cb1;
    margin: 3rem 1rem 1rem 4rem ;
    border-radius: 1rem;
}
.second-card-component img{
    height: 47px;
    display: inline-block;
    margin: 2rem 0rem 0rem 2rem;
    background-color:#d59ae2;
    border-radius: 100%;
    padding: 11px;

}
.card-btn{
    padding: 7px;
    border-radius: 7px;
    border-style: none;
}

/* customer css */
.customerdata{
    width: 100%;
    height:50rem;
  
    
    

}
.cust-table{
    margin-top: 6rem;
    
    border-radius: 0.5rem;
    margin-left: 35rem;
    width: 50rem;
    margin-bottom: 10rem;
}
th{
    height: 2rem;
}
td{
    height: 3rem;
    padding-left: 1rem;
}
.first-input{
    
}
.form{
    width: 40rem;
    height:20rem;
    background-color: #89399b;
    margin-top: 10rem;
    margin-left: 40rem;
    padding: 2rem;
    border-radius: 2rem;
    
}